@mixin color-fondo ($color){
    background-color: $color;
}

@mixin columna-centrada(){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@mixin fila-centrada(){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}